.search-input {
  padding: 10px 40px 10px 40px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50px' height='50px'%3E%3Cpath d='M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z'/%3E%3C/svg%3E"); /* SVG data URI */
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing:border-box
}

.inputs-row {
  display: flex;
  flex-wrap: wrap;
}
  
.input-item {
  flex-grow: 1; 
  margin-right: 10px; 
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
}
  
.input-item:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .input-item {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 10px;
  }

  .input-item:nth-child(3n) {
    margin-right: 0;
  }
}  

textarea{
  border-radius: 15px;
  padding: 10px;
}

.input-item-hide{
  border: none;
  outline: none;
}